In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("adult.data",header=None)

In [3]:
df.rename(columns= {
    0: "age",
    1: "workclass",
    2: "fnlwgt",
    3: "education",
    4: "education-num",
    5: "marital-status",
    6: "occupation",
    7: "relationship",
    8: "race",
    9: "sex",
    10: "capital-gain",
    11: "capital-loss",
    12: "hours-per-week",
    13: "native-country",
    14: "income"
    
},inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df["income"].unique()

array([' <=50K', ' >50K'], dtype=object)

In [6]:
df["income"][0]

' <=50K'

In [7]:
valores=[]
for x in df["income"]:
    valores.append(x.strip())

In [8]:
df["income"] = valores

In [9]:
df["income"] = np.where(df["income"]=="<=50K",0,1)

In [10]:
df["workclass"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [11]:
df["extras"] = df["capital-gain"]- df["capital-loss"]

In [12]:
df.groupby("workclass")[["extras","hours-per-week"]].mean().sort_values(by="extras",ascending=False)

                       extras  hours-per-week
workclass
Self-emp-inc      4720.554659       48.818100
Self-emp-not-inc  1769.430146       44.421881
Private            809.209068       40.267096
Local-gov          770.348304       40.982800
Federal-gov        720.963542       41.379167
State-gov          618.442989       39.031587
?                  546.035403       31.919390
Without-pay        487.857143       32.714286
Never-worked         0.000000       28.428571

In [13]:
df["workclass"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [14]:
valores=[]
for x in df["workclass"]:
    valores.append(x.strip())

In [15]:
df["workclass"]=valores

In [16]:
mapa_trabajo = {
    'State-gov': 'Gobierno estatal',
    'Self-emp-not-inc': 'Autónomo no incorporado',
    'Private': 'Sector privado',
    'Federal-gov': 'Gobierno federal',
    'Local-gov': 'Gobierno local',
    '?': 'Desconocido',
    'Self-emp-inc': 'Autónomo incorporado',
    'Without-pay': 'Sin salario',
    'Never-worked': 'Nunca ha trabajado'
}
 

df["workclass"] = df["workclass"].map(mapa_trabajo)

In [17]:
df["workclass"].value_counts()

workclass
Sector privado             22696
Autónomo no incorporado     2541
Gobierno local              2093
Desconocido                 1836
Gobierno estatal            1298
Autónomo incorporado        1116
Gobierno federal             960
Sin salario                   14
Nunca ha trabajado             7
Name: count, dtype: int64

In [18]:

mapa2 = {
    'Autónomo incorporado':9,
    'Autónomo no incorporado':8,
    'Gobierno local':7,
    'Gobierno federal':6,
    'Gobierno estatal':5,
    'Sector privado':4,
    'Desconocido':3,
    'Sin salario':2,
    'Nunca ha trabajado':1
}
 
df["trabgajo_ord"] = df["workclass"].map(mapa2)

In [19]:
df["marital-status"].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [20]:
valores=[]
for x in df["marital-status"]:
    valores.append(x.strip())

df["marital-status"]= valores

In [21]:
marit_map = {
    'Never-married': 'Nunca casado/a',
    'Married-civ-spouse': 'Casado/a (civil)',
    'Divorced': 'Divorciado/a',
    'Married-spouse-absent': 'Cónyuge ausente',
    'Separated': 'Separado/a',
    'Married-AF-spouse': 'Casado/a (Fuerzas Armadas)',
    'Widowed': 'Viudo/a'
}

df["marital-status"] = df["marital-status"].map(marit_map)

In [22]:
df = pd.get_dummies(df,columns= ["marital-status"])

In [23]:
df["race"].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [24]:
df = pd.get_dummies(df,columns=["race"])

In [25]:
df["occupation"].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [26]:
valores=[]
for x in df["occupation"]:
    valores.append(x.strip())

df["occupation"]= valores

In [27]:
occupation_map = {
    'Adm-clerical': 'Administrativo / Oficina',
    'Exec-managerial': 'Ejecutivo / Gerencial',
    'Handlers-cleaners': 'Manipuladores / Limpiadores',
    'Prof-specialty': 'Profesional / Especialista',
    'Other-service': 'Otros servicios',
    'Sales': 'Ventas',
    'Craft-repair': 'Oficios / Reparaciones',
    'Transport-moving': 'Transporte / Movimiento',
    'Farming-fishing': 'Agricultura / Pesca',
    'Machine-op-inspct': 'Operador / Inspector de máquinas',
    'Tech-support': 'Soporte técnico',
    '?': 'Desconocido / No especificado',
    'Protective-serv': 'Servicios de protección / Seguridad',
    'Armed-Forces': 'Fuerzas armadas',
    'Priv-house-serv': 'Servicio doméstico'
}

df["occupation"]= df["occupation"].map(occupation_map)

In [28]:
df["occupation"].unique()

array(['Administrativo / Oficina', 'Ejecutivo / Gerencial',
       'Manipuladores / Limpiadores', 'Profesional / Especialista',
       'Otros servicios', 'Ventas', 'Oficios / Reparaciones',
       'Transporte / Movimiento', 'Agricultura / Pesca',
       'Operador / Inspector de máquinas', 'Soporte técnico',
       'Desconocido / No especificado',
       'Servicios de protección / Seguridad', 'Fuerzas armadas',
       'Servicio doméstico'], dtype=object)

In [29]:
df.groupby("occupation")[["capital-gain","hours-per-week"]].mean().sort_values(by="capital-gain",ascending=False)

                                     capital-gain  hours-per-week
occupation
Profesional / Especialista            2726.699517       42.386715
Ejecutivo / Gerencial                 2262.772996       44.987703
Ventas                                1319.829315       40.781096
Servicios de protección / Seguridad    708.098613       42.870570
Soporte técnico                        673.552802       39.432112
Oficios / Reparaciones                 649.512808       42.304221
Desconocido / No especificado          604.491047       31.906131
Agricultura / Pesca                    589.726358       46.989940
Administrativo / Oficina               495.954907       37.558355
Transporte / Movimiento                490.323732       44.656230
Operador / Inspector de máquinas       328.689311       40.755744
Servicio doméstico                     279.852349       32.885906
Manipuladores / Limpiadores            257.572993       37.947445
Otros servicios                        191.301669       34.701669
Fuerzas armadas                          0.000000       40.666667

In [31]:
oc_map = {
    "Profesional / Especialista":15,
    "Ejecutivo / Gerencial":14,
    "Ventas":13,
    "Servicios de protección / Seguridad":12,
    "Soporte técnico":11,
    "Oficios / Reparaciones":10,
    "Desconocido / No especificado":9,
    "Agricultura / Pesca":8,
    "Administrativo / Oficina":7,
    "Transporte / Movimiento":6,
    "Operador / Inspector de máquinas":5,
    "Servicio doméstico":4,
    "Manipuladores / Limpiadores":3,
    "Otros servicios":2,
    "Fuerzas armadas":1
}

df["occ_ord"] = df["occupation"].map(oc_map)

In [34]:
df= pd.get_dummies(df,columns=["sex"])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   age                                        32561 non-null  int64
 1   workclass                                  32561 non-null  object
 2   fnlwgt                                     32561 non-null  int64
 3   education                                  32561 non-null  object
 4   education-num                              32561 non-null  int64
 5   occupation                                 32561 non-null  object
 6   relationship                               32561 non-null  object
 7   capital-gain                               32561 non-null  int64
 8   capital-loss                               32561 non-null  int64
 9   hours-per-week                             32561 non-null  int64
 10  native-country                             32561 non-null  object
 11  income                                     32561 non-null  int64
 12  extras                                     32561 non-null  int64
 13  trabgajo_ord                               32561 non-null  int64
 14  marital-status_Casado/a (Fuerzas Armadas)  32561 non-null  bool
 15  marital-status_Casado/a (civil)            32561 non-null  bool
 16  marital-status_Cónyuge ausente             32561 non-null  bool
 17  marital-status_Divorciado/a                32561 non-null  bool
 18  marital-status_Nunca casado/a              32561 non-null  bool
 19  marital-status_Separado/a                  32561 non-null  bool
 20  marital-status_Viudo/a                     32561 non-null  bool
 21  race_ Amer-Indian-Eskimo                   32561 non-null  bool
 22  race_ Asian-Pac-Islander                   32561 non-null  bool
 23  race_ Black                                32561 non-null  bool
 24  race_ Other                                32561 non-null  bool
 25  race_ White                                32561 non-null  bool
 26  occ_ord                                    32561 non-null  int64
 27  sex_ Female                                32561 non-null  bool
 28  sex_ Male                                  32561 non-null  bool
dtypes: bool(14), int64(10), object(5)
memory usage: 4.2+ MB